@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
.App {
  width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
}
.add-btn {
  margin-bottom: 50px;
  float: right;
}

.add-btn1 {
  border-radius: 20px;
  border: 1px solid#03a9f4;
  background-color: #03a9f4;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.inp-space {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-family: "Montesarrat";
}
.error-message {
  color: red;
  font-size: 14px;
  font-weight: bold;
}
